footer {
  width: 100%;
  background: transparent
    linear-gradient(
      109deg,
      #b90a1b 0%,
      #c90015 23%,
      #be0013 63%,
      #d40a20 63%,
      #9c0110 100%
    )
    0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  font-weight: normal;
  font-size: 16px;
  color: var(--white);
}

footer > div {
  margin-bottom: 2em;
}

footer .footer-logo {
  width: 40px;
  height: 40px;
}

.policy-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .social-img-container img {
  margin-right: 15px;
}

footer .social-img-container img:last-child {
  margin-right: 0;
}

footer ul li {
  list-style: none;
  margin: 10px 0;
}

footer ul li a {
  text-decoration: underline;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
}

footer h5 {
  margin: 2em 0;
  font-weight: bolder;
}

@media screen and (min-width: 1000px) {
  footer {
    align-items: flex-start;
    padding-left: 5em;
    padding-right: 5em;
  }

  footer .policy-container {
    width: 400px;
  }

  footer h5 {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  footer {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1300px) {
  footer {
    padding-left: 8em;
    padding-right: 8em;
  }
}
