<div class="games_slider__container">
  <div class="games_slider__round">
    <p class="games_slider__round--desktop">20. Runde</p>
    <p class="games_slider__round--mobile">6 Spiele</p>
  </div>

  <div class="games_slider__matches">
    <div class="games_slider__game">
      <div class="games_slider__game__team">
        <img src="../img/teams-logo/2075_00000_x_150x150.png">SVR</img>
      </div>
      <div class="games_slider__game__status">
        <p class="games_slider__game__live">LIVE</p>
        <p class="games_slider__game__score">1:3</p>
      </div>
      <div class="games_slider__game__team desktop">
        <p>FAK</p>
        <img src="../img/teams-logo/2076_00000_x_150x150.png"/>
      </div>
    </div>
    <div class="games_slider__game">
      <div class="games_slider__game__team">
        <img src="../img/teams-logo/2075_00000_x_150x150-1.png">ALU</img>
      </div>
      <div class="games_slider__game__status">
        <p class="games_slider__game__live">LIVE</p>
        <p class="games_slider__game__score">0:2</p>
      </div>
      <div class="games_slider__game__team desktop">
        <p>STU</p>
        <img src="../img/teams-logo/2076_00000_x_150x150-1.png"/>
      </div>
    </div>
    <div class="games_slider__game">
      <div class="games_slider__game__team">
        <img src="../img/teams-logo/2075_00000_x_150x150-2.png">HTB</img>
      </div>
      <div class="games_slider__game__status">
        <p class="games_slider__game__schedule">Morgen</p>
        <p class="games_slider__status--desktop">14:30 Uhr</p>
      </div>
      <div class="games_slider__game__team desktop">
        <p>WAC</p>
        <img src="../img/teams-logo/2076_00000_x_150x150-2.png"/>
      </div>
    </div>
  </div>
</div>
