<div class="table-sport">
  <table>
    <caption class="table-sport__title">
      Fußball
    </caption>
    <thead>
      <tr>
        <th class="table-sport__country">Österreich</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/bundesliga.png" alt="Bundesliga Logo" /><span
              class="a-text"
              >Bundesliga</span
            ></a
          >
        </td>
        <td class="table-sport__cell">
          <a href="#" alt="">
            <img src="./img/2Liga.png" alt="" /><span class="a-text"
              >Data</span
            ></a
          >
        </td>
        <td class="table-sport__cell">
          <a href="#" alt="">
            <img src="./img/ofb-cup.png" alt="" /><span class="a-text"
              >Data</span
            ></a
          >
        </td>
        <td class="table-sport__cell">
          <a href="#" alt="">
            <img src="./img/football_ball.png" alt="" /><span class="a-text"
              >Data</span
            ></a
          >
        </td>
        <td class="table-sport__cell">
          <a href="#" alt="">
            <img src="./img/football_ball.png" alt="" /><span class="a-text"
              >Data</span
            ></a
          >
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th class="table-sport__country">Deutschland</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/bundesliga-deutsch.png" alt="Bundesliga Logo" /><span
              class="a-text"
              >Deutsche Bundesliga</span
            ></a
          >
          <td class="table-sport__cell">
            <a href="#" alt="">
              <img src="./img/deutsche-bundesliga-2.png" alt="" /><span class="a-text"
                >2. Bundesliga</span
              ></a
            >
          </td>
        </td>
        <td class="table-sport__cell">
          <a href="#" alt="">
            <img src="./img/dfb-pokal.png" alt="" /><span class="a-text"
              >DFB Pokal</span
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th class="table-sport__country">Spanien</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/la-liga.png" alt="" /><span
              class="a-text"
              >La Liga</span
            ></a
          >
          <td class="table-sport__cell">
            <a href="#" alt="">
              <img src="./img/football_ball.png" alt="" /><span class="a-text"
                >Copa del Rey</span
              ></a
            >
          </td>
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption class="table-sport__title">
      Eishockey
    </caption>
    <thead>
      <tr>
        <th class="table-sport__country">USA</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/icehockey.png" alt="Bundesliga Logo" /><span
              class="a-text"
              >NHL</span
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th class="table-sport__country">Österreich</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/ebene.png" alt="Bundesliga Logo" /><span
              class="a-text"
              >ICE Hockey League</span
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption class="table-sport__title">
      Ski Alpin
    </caption>
    <thead>
      <tr>
        <th class="table-sport__country">Weltcup</th>
      </tr>
    </thead>
    <tbody class="table-sport__body">
      <tr>
        <td class="table-sport__cell">
          <a href="#"
            ><img src="./img/ski-alpin.png" alt="Bundesliga Logo" /><span
              class="a-text"
              >Weltcup</span
            ></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
